
.invalid{
    color: red;
}
.valid{
    color: green;
}
::placeholder{
   
    font-size: xx-large;
    margin-top: 100px;
    color: white;
}
.containeruser{
    margin-top: 50px;
    margin-left: 40%;
    width: 20%;
   
    
}
.inputuser{
    height: 50px;
    border-radius: 20px;
    background-color: rgb(44, 42, 42);
    padding: 5px;
    color: white;
    font-size: 25px;
    width: 350px;
    margin: auto;
    }
    .buttonuser{
        height: 40px;
        width: 150px;
        margin: auto;
        background-color: blue;
        margin-top: 30px;
        color: white;
        font-size: 25px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-left: 90px;
    }